$primaryColor: #FF4F00;
$textColor: #5A473E;
$textTitleColor: #33190D;
$backgroundColor: #f4f1f0;
$white: #FFFFFF;
$color1: #7E676B;
$color2: #F4F1F0;
$color3: #01579B;
$color4: #e7dfdc;
$color5: #5F6368;
$color6: #E8E9E9;
$color7: #E5E5E5;
$color8: #FFD8CB;
$color9: #FFB096;
$color10: #33190D;
$color11: #8F776C;
$color12: #EBEBEB;
$color13: #Fbf2ed;
$color14: #C29999;
$color15: #D9D9D9;
$color16: #C19999;
$color17: #cccccc;
$color18: #18A4F7;
$color19: #E4E6EB;
$color20: #F4F1F0;
$color21: #fad5c4;
$color22: #444746;
$color23: #FF9C70;
$color24: #f5e6e6;
$color25: #96e5ff;
$color26: #fdab85;
$color27: #CCC5C5;
$color28: #4B4F56;
$color29: #2596be;
$color30: #886E62;
$color31: #FFD1BC;
$color32: #E3E3E3;
$color33: #fbd0c1e2;
$color34: #FDFBFA;
$color35: #FECE8A;
$color36: #FFF0DA;
$color37: #FFD596;
$color38: #ffa780;
$color39: #ffede6;
$color40: #C5C5C5;
$color41: #FFEAE0;
$color42: #f8c9b3;
$color43: #cf4404;
$color44: #D82E18;
$color45: #03703C;
$color46: #fff6f3;
$color47: #2D0F01;
$color48: #e9eaf2;
$color49: #f76b59;
$color50: #2dcc7f;
