#forget-password-wrapper {
    background-color: $backgroundColor;
    height: 100vh;

    .contentForgetPassword{
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    }
    .nav-bar {
        height: 72px;
    }

    .body {
        height: 80vh;
        .form-container {
            width: 620px;

            input,
            input::placeholder {
                font-size: 20px;
            }
            .login-btn {
                font-size: 23px;
            }

            .form-title {
                font-size: 24px;
            }

            .form-text,
            button {
                font-size: 20px;
            }
        }
        #fail-warning-block {
            background-color: #ffebe8;
        }
    }

    .forget-password-footer {
        height: 20vh;
        a {
            color: $textColor;
        }
    }
}

.formFotgetPassword{
    width: 35rem;
    background-color: $white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: $textTitleColor;

    .titleForm{
        font-size: 20px;
        font-family: 'GoogleSans-Medium';
        width: 100%;
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: left;

        p{
            margin: 0;
        }
    }

    .textNotice{
        font-size: 18px;
        font-family: 'GoogleSans-Regular';
    }

    input{
        padding: .7rem .5rem;
    }

    button{
        font-size: 16px;
        font-family: 'GoogleSans-Regular';
    }
}
